<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <body class="wide">
        <div id="page">
            <header>
                <div>
                    <p>this is the header top part</p>
                </div>
            </header>
            <div class="main-wrapper">
                <p>this is the middle part</p>
                {% block content %}

                {% endblock content %}
            </div>

            <footer id="colophon">
                <div class="inner-wrap">
                    This is the footer, all rights a freaking resevered
                </div>
            </footer>
        </div>
    </body>
</html>